/Clases/Clase1/Clase1/target/
/Clases/Clase3/Clase3/target/
/Clases/Clase2/Ejemplo/nbproject/
/Clases/Clase3/Calculadora/target/
/Clases/Clase3/EjemploVinos/nbproject/private/
/Clases/Clase3/EjemploVinos/build/
/Clases/Clase3/Clase3/nbproject/private/
/Clases/Clase3/Clase3/build/
/Clases/Clase3/Clase3/dist/
/Clases/Clase4/Ejemplo/nbproject/private/
/Clases/Clase4/Ejemplo/build/
/Clases/Clase4/Calculadora/nbproject/private/
/Clases/Clase4/Calculadora/build/
