/Clases/Clase1/Clase1/target/
/Clases/Clase3/Clase3/target/
/Clases/Clase2/Ejemplo/nbproject/
/Clases/Clase3/Calculadora/target/
/Clases/Clase3/EjemploVinos/nbproject/private/
/Clases/Clase3/EjemploVinos/build/
/Clases/Clase3/Clase3/nbproject/private/
/Clases/Clase3/Clase3/build/
/Clases/Clase3/Clase3/dist/
/Clases/Clase4/Ejemplo/nbproject/private/
/Clases/Clase4/Ejemplo/build/
/Clases/Clase4/Calculadora/nbproject/private/
/Clases/Clase4/Calculadora/build/
/Clases/Clase6/Calculadora/build/
/Clases/Clase6/Calculadora/nbproject/private/
/Clases/Clase6/BorradorClase7/target/
/Clases/Clase6/Ejemplo6/nbproject/private/
/Clases/Clase6/Ejemplo6/build/
/Clases/Clase6/Ejemplo/nbproject/private/
/Clases/Clase6/Ejemplo/build/
/Clases/Clase6/Calculadora - copia/build/
/Clases/Clase6/Calculadora - copia/nbproject/private/
/Clases/Clase6/EjemploClase/build/
/Clases/Clase6/EjemploClase/nbproject/private/
